**/*.xcodeproj/project.xcworkspace/xcuserdata
**/*.xcodeproj/xcuserdata
**/*.xcworkspace/xcuserdata
Pods
Podfile.lock
SanityTest/Carthage/**/Carthage/Checkouts
SanityTest/Carthage/**/Cartfile.resolved
SanityTest/Carthage/**/build
